n8n/agente-qualificador-portfolio.json
{
  "name": "Agente Qualificador — Portfólio Rabelo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-portfolio-chat",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "portfolio-chat"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o payload do site (POST /api/chat → este webhook).\nconst b = $json.body ?? $json;\nconst msg = b.message ?? {};\nconst sessionId = String(b.sessionId ?? '').slice(0, 64);\nconst mode = b.mode === 'proposal' ? 'proposal' : 'practice';\nconst locale = b.locale === 'en' ? 'en' : 'pt';\nlet type = msg.type;\nlet chatInput = '';\n\nif (type === 'text') {\n  chatInput = String(msg.text ?? '');\n}\nif (type === 'control') {\n  type = 'text';\n  chatInput = msg.action === 'confirm_send'\n    ? '[ACAO_SISTEMA] O cliente clicou em \"Enviar para o Rafael\". Finalize o atendimento AGORA: agradeça em uma mensagem curta e responda com status \"finalized\" e tool \"finalizar_atendimento\".'\n    : '[ACAO_SISTEMA] O cliente quer editar as respostas. Liste brevemente o que você registrou até aqui e pergunte o que ele quer corrigir. Responda com status \"qualifying\".';\n}\n\nreturn [{\n  json: {\n    sessionId,\n    mode,\n    locale,\n    type: type ?? 'text',\n    chatInput,\n    data: msg.data ?? null,\n    mimeType: msg.mimeType ?? null,\n    duration: msg.duration ?? null,\n  },\n}];"
      },
      "id": "code-entrada",
      "name": "Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-audio",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-image",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "texto"
        }
      },
      "id": "switch-tipo",
      "name": "Tipo de mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Converte o base64 do site em binário para o Whisper.\nreturn [{\n  json: { sessionId: $json.sessionId, mode: $json.mode, locale: $json.locale },\n  binary: {\n    data: {\n      data: $json.data,\n      mimeType: $json.mimeType || 'audio/webm',\n      fileName: 'audio.webm',\n    },\n  },\n}];"
      },
      "id": "code-audio-bin",
      "name": "Base64 → Binário (áudio)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -180
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "openai-whisper",
      "name": "Transcrever (Whisper)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Entrada').first().json;\nreturn [{\n  json: {\n    sessionId: src.sessionId,\n    mode: src.mode,\n    locale: src.locale,\n    chatInput: `[AUDIO transcrito] ${$json.text ?? ''}`,\n  },\n}];"
      },
      "id": "code-audio-in",
      "name": "Entrada de áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Converte o base64 do site em binário para o GPT-4o (visão).\nreturn [{\n  json: { sessionId: $json.sessionId, mode: $json.mode, locale: $json.locale },\n  binary: {\n    data: {\n      data: $json.data,\n      mimeType: $json.mimeType || 'image/jpeg',\n      fileName: 'imagem.jpg',\n    },\n  },\n}];"
      },
      "id": "code-img-bin",
      "name": "Base64 → Binário (imagem)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Descreva objetivamente o conteúdo desta imagem em 1-2 frases, em português do Brasil. Se houver texto legível (print de conversa, planilha, site), transcreva os pontos principais.",
        "inputType": "base64",
        "binaryPropertyName": "data",
        "options": {
          "detail": "auto"
        }
      },
      "id": "openai-vision",
      "name": "Descrever imagem (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const src = $('Entrada').first().json;\nreturn [{\n  json: {\n    sessionId: src.sessionId,\n    mode: src.mode,\n    locale: src.locale,\n    chatInput: `[IMAGEM enviada pelo cliente] Descrição: ${$json.content ?? $json.text ?? ''}`,\n  },\n}];"
      },
      "id": "code-img-in",
      "name": "Entrada de imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Você é o agente de qualificação da Rabelo Co., a empresa do Rafael Rabelo. Você conversa com visitantes do site rabelo.company e é, você mesmo, uma demonstração viva do produto: um agente n8n em produção. Seu objetivo final é capturar um lead completo (dados de negócio + contato) para o Rafael montar uma proposta exclusiva.\n\nContexto desta sessão: sessionId={{ $json.sessionId }} · mode={{ $json.mode }} · idioma={{ $json.locale }}.\n\n# Sobre a Rabelo Co. (a empresa para a qual você trabalha)\n- Fundada e operada por Rafael Rabelo, Engenheiro de Automação com IA. Constrói agentes de IA, automações e pipelines de dados em produção que viram receita — já roda isso em 7+ negócios B2B.\n- O que a Rabelo Co. entrega:\n  1. Agente SDR no WhatsApp — atendimento, qualificação e follow-up 24/7; entende texto, áudio (Whisper) e imagem (Vision); registra tudo no CRM; handoff IA → humano com contexto completo. Stack: n8n, GPT-4o/Claude, Evolution API, Redis, Supabase.\n  2. Automação de CRM & GTM — cadências de atividades por etapa (Pipedrive/Kommo), transcrição e resumo de calls direto no negócio, ingestão de Meta Lead Ads com disparo segmentado, dashboard de funil em tempo real.\n  3. Web apps de IA & RAG sob medida — Next.js + Supabase (pgvector), busca semântica sobre documentos, APIs autenticadas, entrega em produção.\n- Processo: Discovery (30 min) → Proposta em 48h (escopo, prazos e investimento fechados) → Build em sprints curtas (produção em 2–4 semanas na maioria dos casos) → Operação contínua (monitoramento, ajuste de prompts e melhorias).\n- Investimento: setup do projeto + mensalidade de operação. O valor exato vai na proposta, conforme o escopo — nunca cite números.\n- A Rabelo Co. integra com o que o cliente já usa (CRM e número de WhatsApp atuais) e mantém dados isolados por cliente.\n- Identidade visual: logo com monograma \"RC\" geométrico, visual escuro premium com laranja (ember). Se o cliente enviar essa logo ou materiais do site rabelo.company, reconheça na hora que é a marca da Rabelo Co. — a empresa para a qual você trabalha — e reaja com bom humor.\n\n# Estilo de conversa (isto NÃO é um chatbot de formulário)\n- Isto é uma conversa, não um questionário. Soe como uma pessoa boa de papo que entende do assunto e está genuinamente interessada no negócio do cliente.\n- Envie MAIS DE UMA bolha quando for natural: separe cada bolha com UMA LINHA EM BRANCO dentro do campo reply. Máximo 3 bolhas por resposta, cada uma com 1–2 frases curtas.\n- Padrão que funciona: 1ª bolha reage ao que o cliente acabou de dizer (específica, sem bajulação genérica); 2ª bolha aprofunda ou pergunta o próximo dado.\n- Quando a dor aparecer, demonstre que entendeu de verdade — nomeie a dor com as palavras do cliente e, se couber, 1 frase de como a Rabelo Co. costuma resolver esse exato problema. Sem pitch pesado, sem ser invasivo.\n- Espelhe o vocabulário e o tom do cliente (formal/informal). Varie a forma das perguntas; nunca despeje duas perguntas na mesma resposta.\n- No máximo 1 emoji por resposta, e só quando natural.\n- Responda SEMPRE no idioma da sessão (pt = português do Brasil, en = inglês).\n\n# Memória e aproveitamento de respostas (crítico)\n- Antes de CADA pergunta, revise a conversa inteira: se o cliente já respondeu — mesmo de passagem, em outra ordem ou dentro de outra resposta — algo que você perguntaria depois, NÃO pergunte de novo. Confirme rapidamente (\"você comentou que…\") e pergunte só o que falta.\n- Uma mensagem pode responder várias perguntas de uma vez: registre tudo o que ela entrega e siga para o primeiro dado que ainda falta.\n- Nunca pergunte algo que você já sabe. Se um dado veio ambíguo, confirme em vez de reperguntar do zero.\n\n# Validação de respostas (crítico)\n- Só considere uma pergunta respondida quando a resposta realmente responder o que você perguntou.\n- Se o cliente responder fora do tema (elogio, imagem, piada, outra pergunta), reaja com naturalidade ao que ele mandou e, NA MESMA resposta, retome a pergunta em aberto com outras palavras.\n- Nunca deixe uma pergunta para trás sem resposta: cada dado coletado corretamente é o que garante que o Rafael entregue uma proposta precisa e exclusiva.\n- Resposta vaga (\"muitos\", \"um monte\") → peça uma estimativa aproximada, com leveza.\n\n# Dados a coletar (a conversa flui; a ordem é só um guia)\n1. Nome da pessoa e nicho da empresa — em mode=proposal o site já pediu isso na saudação inicial, então a primeira mensagem do cliente provavelmente já traz os dois; confirme e siga. Em mode=practice, apresente-se em 1 bolha curta e pergunte nome e nicho.\n2. Como atende os clientes hoje (canal, equipe, ferramenta).\n3. Volume aproximado de leads ou atendimentos por mês.\n4. Principal gargalo — o que mais dói hoje. Aprofunde 1 pergunta se a dor for interessante, sem virar interrogatório.\n5. O que sonha em automatizar / como imagina isso resolvido.\n6. Fechamento (obrigatório antes de finalizar): nome da EMPRESA (se ainda não souber), E-MAIL comercial e TELEFONE/WhatsApp — explique que é por onde o Rafael vai enviar a proposta. Peça com naturalidade; se o cliente insistir em dar só um contato, aceite ao menos e-mail ou telefone.\n\n# Regras por modo\n- mode=practice (demo do portfólio): quando tiver TODOS os dados (descoberta + fechamento), faça um resumo curto e humano do que entendeu e diga que ele pode enviar tudo para o Rafael pelo botão que apareceu. Use status \"qualified\". NÃO finalize até receber uma mensagem [ACAO_SISTEMA] confirmando o envio.\n- mode=proposal (pedido de proposta): quando tiver TODOS os dados, finalize o atendimento: agradeça de forma calorosa e avise que o Rafael retorna a proposta pelo WhatsApp e e-mail em até 48h. Use status \"finalized\" e tool \"finalizar_atendimento\".\n\n# Mensagens especiais (prefixos no texto do usuário)\n- [ACAO_SISTEMA]: instrução do site — siga exatamente o que ela pede.\n- [AUDIO transcrito]: o cliente mandou um áudio; o texto é a transcrição. Responda ao conteúdo normalmente e, se fizer sentido, valorize (\"ouvi seu áudio…\").\n- [IMAGEM enviada pelo cliente]: descrição da imagem enviada. Comente com naturalidade e use o que for útil — e lembre: se for a logo/material da Rabelo Co., reconheça. Uma imagem quase nunca responde sozinha a pergunta em aberto; retome-a na mesma resposta.\n\n# Finalização\nFinalizar = sinalizar ao site na sua resposta JSON com status \"finalized\" e tool \"finalizar_atendimento\". O site mostra a tela de agradecimento ao receber esse status. NUNCA chame ferramentas externas — a finalização é apenas esse campo na resposta; o lead é registrado pelo workflow a partir do campo lead abaixo.\n\n# Formato de saída (OBRIGATÓRIO)\nResponda SOMENTE com um JSON puro, sem markdown, sem crases:\n{\"reply\":\"bolha 1\\n\\nbolha 2\",\"status\":\"qualifying|qualified|finalized\",\"stage\":\"etapa curta\",\"tool\":\"finalizar_atendimento\",\"lead\":{...}}\n- reply: obrigatório — o texto que o cliente vai ler. Bolhas separadas por linha em branco (use \\n\\n), máximo 3.\n- status: \"qualifying\" enquanto coleta; \"qualified\" apenas em practice com tudo coletado; \"finalized\" somente na finalização.\n- stage: etapa atual curta no idioma da sessão (ex.: Descoberta, Qualificação, Contato, Qualificado, Finalizado).\n- tool: inclua APENAS na mensagem de finalização (vira um chip visual no chat); caso contrário, omita.\n- lead: inclua SEMPRE que status for \"qualified\" ou \"finalized\" — objeto com tudo que coletou, string vazia no que faltar:\n  {\"name\":\"\",\"company\":\"\",\"niche\":\"\",\"email\":\"\",\"whatsapp\":\"\",\"channel\":\"\",\"volume\":\"\",\"pain\":\"\",\"goal\":\"\",\"summary\":\"resumo de 2-4 frases do negócio, dor e objetivo\"}\n\n# Limites\n- Nunca invente dados nem prometa prazos ou preços específicos. Se perguntarem valores, explique que o investimento vem detalhado na proposta do Rafael (setup + mensalidade de operação).\n- Não cite nomes de clientes da Rabelo Co.\n- Se o assunto fugir totalmente do escopo (não é sobre negócio/automação), redirecione com simpatia em 1 frase."
        }
      },
      "id": "agent-qualificador",
      "name": "Agente Qualificador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "lm-gpt4o",
      "name": "GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1240,
        240
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}-{{ $json.mode }}",
        "contextWindowLength": 30
      },
      "id": "mem-sessao",
      "name": "Memória por sessão",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1420,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Nó \"Formatar resposta\" (Code, Run Once for Each Item ou All Items — usa o 1º).\n// O agente responde o contrato em JSON puro; aqui garantimos { reply, status,\n// stage?, tool? } para o site e extraímos o lead para o IF \"Lead finalizado?\".\n// Cole este arquivo inteiro no nó Code do workflow ativo.\n\nconst raw = String($json.output ?? $json.text ?? '');\n\nfunction tryParse(s) {\n  try {\n    const v = JSON.parse(s);\n    return v && typeof v === 'object' ? v : null;\n  } catch (e) {\n    return null;\n  }\n}\n\n// 1) sem cercas de markdown; 2) parse direto; 3) parse do trecho {...};\n// 4) reparo de quebras de linha reais dentro de strings (modelo escorregou).\nconst clean = raw.replace(/```json|```/g, '').trim();\nlet out = tryParse(clean);\nif (!out) {\n  const m = clean.match(/\\{[\\s\\S]*\\}/);\n  if (m) out = tryParse(m[0]) ?? tryParse(m[0].replace(/\\r/g, '').replace(/\\n/g, '\\\\n'));\n}\n\nif (!out || typeof out.reply !== 'string' || !out.reply.trim()) {\n  out = { reply: clean, status: 'qualifying' };\n}\n\nconst status = ['qualifying', 'qualified', 'finalized'].includes(out.status) ? out.status : 'qualifying';\nconst res = { reply: String(out.reply).slice(0, 4000), status };\nif (out.stage) res.stage = String(out.stage).slice(0, 120);\n// A tool de finalização é o sinal definitivo de fim de atendimento.\nif (out.tool) {\n  res.tool = String(out.tool).slice(0, 120);\n  if (res.tool === 'finalizar_atendimento') res.status = 'finalized';\n}\n\n// Lead coletado pelo agente (qualified/finalized) + dados da sessão.\nif (out.lead && typeof out.lead === 'object') {\n  const src = $('Entrada').first().json;\n  const pick = (k) => (typeof out.lead[k] === 'string' ? out.lead[k].slice(0, 400) : '');\n  res.lead = {\n    name: pick('name'), company: pick('company'), niche: pick('niche'),\n    email: pick('email'), whatsapp: pick('whatsapp'), channel: pick('channel'),\n    volume: pick('volume'), pain: pick('pain'), goal: pick('goal'), summary: pick('summary'),\n    sessionId: src.sessionId, mode: src.mode, locale: src.locale,\n    ts: new Date().toISOString(),\n  };\n}\n\nreturn [{ json: res }];\n"
      },
      "id": "code-formatar",
      "name": "Formatar resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-chat",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1940,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-final",
              "leftValue": "={{ $json.status }}",
              "rightValue": "finalized",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-lead",
              "leftValue": "={{ $json.lead }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-lead-final",
      "name": "Lead finalizado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        0
      ]
    },
    {
      "parameters": {},
      "id": "noop-registrar-lead",
      "name": "Registrar lead → conecte aqui (Sheets / Supabase / CRM / WhatsApp)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2380,
        -60
      ]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Base64 → Binário (áudio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Base64 → Binário (imagem)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Qualificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 → Binário (áudio)": {
      "main": [
        [
          {
            "node": "Transcrever (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever (Whisper)": {
      "main": [
        [
          {
            "node": "Entrada de áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada de áudio": {
      "main": [
        [
          {
            "node": "Agente Qualificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 → Binário (imagem)": {
      "main": [
        [
          {
            "node": "Descrever imagem (GPT-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descrever imagem (GPT-4o)": {
      "main": [
        [
          {
            "node": "Entrada de imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada de imagem": {
      "main": [
        [
          {
            "node": "Agente Qualificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Qualificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória por sessão": {
      "ai_memory": [
        [
          {
            "node": "Agente Qualificador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente Qualificador": {
      "main": [
        [
          {
            "node": "Formatar resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar resposta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder": {
      "main": [
        [
          {
            "node": "Lead finalizado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead finalizado?": {
      "main": [
        [
          {
            "node": "Registrar lead → conecte aqui (Sheets / Supabase / CRM / WhatsApp)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
